<!-- Enjoy_view_public側_sample_illustration_show -->
  <!-- フラッシュメッセージ投稿成功時 -->
  <div>
    <%= flash[:notice] %>
  </div>
  
    <!-- 商品画像,商品名,商品説明,税込価格 -->
  <div class="row">
    <div class="mx-auto auto col-md-12">
      
        <!-- 色指定のスタイル -->
      <style>
       .example {
        background-color: #F0F0F0;
        width:200px;
        height:30px;
       }
      </style>
      
        <!-- サンプル画像,サンプル名,説明文,ジャンル -->
        
      <h4 class="example" align="center">サンプル画像詳細</h4>
      <table class="w-75 mx-auto">
          <!-- サンプル詳細 -->
        <tbody>
            <!-- 総合評価 -->
          <tr>
            <th class="w-25">総合評価</th>
              <!-- 総合記述 -->
            <td>
                <div id="star-rate<%= @sample_illustration.id%>"></div>
                <%= @sample_illustration.reviews.average(:star).round(2) %>
                <script>
                 $('#star-rate<%= @sample_illustration.id %>').empty();
                 $('#star-rate<%= @sample_illustration.id %>').raty({
                   size      : 36,
                   starOff   : '<%= asset_path('star-off.png') %>',
                   starOn    : '<%= asset_path('star-on.png') %>',
                   starHalf    : '<%= asset_path('starhalf.png') %>',
                   halfShow      : true,
                   readOnly: true,
                   score: <%= @sample_illustration.reviews.average(:star).round(2) %>,
                 });
               </script>
            </td>
          </tr>
            <!-- 参考画像 -->
          <tr>
            <th>参考画像</th>
              <td>
                <%= image_tag @sample_illustration.get_image, class:"w-75" %>
              </td>
              <!--%= image_tag @item.get_image %-->
          </tr>
            <!-- サンプル名 -->
          <tr>
            <th>サンプル名</th>
              <td>
                <%= @sample_illustration.name %>
              </td>
          </tr>
            <!-- 説明文 -->
          <tr>
            <th>説明文</th>
              <td>
                <%= @sample_illustration.introduction %>
              </td>
          </tr>
            <!-- ジャンル -->
          <tr>
            <th>ジャンル</th>
              <td>
                <%= @sample_illustration.genre.name %>
              </td>
          </tr>
            <!-- 評価機能 -->
            <!-- ここからが星レビュー機能 -->
          <tr>

          </tr>
        </tbody>
            
      </table>
            
            
    </div>
    <% unless @sample_illustration.reviews.exists?(customer_id: current_customer.id) %>
    <div class="mx-auto auto col-md-12 my-5">
      <%= form_with model: Review.new, url: sample_illustration_reviews_path(@sample_illustration.id), local:true do |star| %>
      <table class="w-75 mx-auto">
          <!-- サンプル詳細 -->
        <tbody>
          <tr>
            <th class="w-25">
              評価する
            </th>
            <td>
              <div class="form-group row">
                  <%#= star.label :star,'評価 ', class:'col-form-label' %>
                  <%#= star.hidden_field :star, id: :star %>
                <div id="star"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
                <%= star.submit '登録', class:"btn btn-primary" %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
      
                <!-- 画像サイズ？ -->
              <script>
            　$('#star').empty();
              $('#star').raty({
                size   : 36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                      scoreName: 'review[star]',
                half: false,
              });
              </script>
    </div>
    <% end %>
        <!-- 編集する_adminにしか表示されない記述 -->
    <div class="mx-auto auto col-md-12">  
        <% if admin_signed_in? %>
          <%= link_to "編集する", edit_admin_sample_illustration_path, class: "btn btn-success" %>
        <% end %>
    </div>
  </div>
  