  <!-- enjoy_view_public_homes_top -->
  <!-- フラッシュメッセージ投稿成功時 -->
<div>
  <%= flash[:notice] %>
</div>

      <!-- 色指定のスタイル -->
    <style>
     .example {
      background-color: #F0F0F0;
      width:380px;
      height:30px;
     }
    </style>

<div style="display: flex; justify-content: center;">
  <h4 class="example" style="text-align: center;">顧客_トップ_public_top</h4>
</div>


<div class="row justify-content-center">
    <!-- ジャンル検索,キーワード -->
  <div class="col-md-6">
    <%= form_with url: root_url, method: :get, local: true do |f| %>
        <!-- ジャンル検索 -->
      <div class="form-group row">
        <%= f.label :genre_id, "ジャンル検索", class: "col-md-3 col-form-label" %>
          <!-- 検索枠 -->
        <div class="col-md-9">
          <%= f.collection_select :genre_id, Genre.all, :id, :name,
              { include_blank: "--select--",
                selected: params[:genre_id] },
              { class: "form-control" } %>
        </div>
      </div>
        <!-- 検索キーワード(name) -->
      <div class="form-group row">
        <%= f.label :genre_id, "名前検索", class: "col-md-3 col-form-label" %>
          <!-- 検索枠 -->
        <div class="col-md-9">
          <%= f.search_field :name, class: "form-control",
                                    placeholder: "--name--",
                                    value: params[:name] %>
        </div>
      </div>
      
      <%= f.submit "search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <!-- サンプルイラスト一覧表示 -->
  </div>
    <div class="col-md-9">
      <!--% @sample_illustration.each do |sample_illustration| %-->
        <!--%= image_tag sample_illustration.get_image, style: "max-width:100px;" %-->
      <!--% end %-->
    
        <!-- 画像,タイトル,説明文,ジャンル -->
      <div class="row">
        <% @illustrations.each do |illustration| %>
          <div class="col-sm-6 col-lg-4">
            <div class="card my-3">
                <!-- アイコン? -->
              <div class="card-img-top">
                <img src="#" class="img-fluid">
                  <!--%= image_tag user.get_profile_image(100,100) %-->
                </imag>
              </div>
                <!-- 画像,タイトル,説明文,ジャンル -->
              <div class="card-body">
                  <!-- 画像 -->
                <p class="card-image_top">
                  <%= link_to illustration_path(illustration.id) do %>
                    <%= image_tag illustration.get_image, style: "max-width:100px;" %>
                  <% end %>
                </p>
                  <!-- タイトル -->
                <h5 class="card-title"><%= illustration.name %></h5>
                  <!-- 説明文 -->
                <p class="card-text"><%= illustration.introduction.truncate(15) %></p>
                  <!-- -->
                <p class="card-test">
                  <span class="badge badge-secondary"><%= illustration.genre.name %></span>
                </p>
                
                <%=link_to "read more", illustration, class: "card-link" %>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @illustrations %>
      </div>
    </div>  
</div>
  
  