<!-- Enjoy_view_admin_illustration_new -->

<div class="row">
    <div class="mx-auto auto col-11 col-sm10 col-lg col-xl-5">
            
      <!-- 色指定のスタイル -->
    <style>
     .example {
      background-color: #F0F0F0;
      width:300px;
      height:30px;
     }
    </style>
            
    <h4 class="example" align="center">画像新規登録画面</h4>
    
    <%= form_with model: @illustration, url: illustrations_path, method: :post do |illustration| %>
        <!-- イラスト画像新規登録画面 -->
      <table width="400"  height="300">
          <!-- タイトル〇 -->
        <tr>
          <th>タイトル</th>
            <td>
              <%= illustration.text_field :name %>
            </td>
        </tr>
          <!-- サンプル画像〇 -->
        <tr>
          <th>イラスト画像</th>
            <td>
              <%= illustration.file_field :image, accept: "image/*" %>
            </td>
        </tr>
          <!-- 説明文〇 -->
        <tr>
          <th>説明文</th>
            <td>
              <%= illustration.text_field :introduction %>
            </td>
        </tr>
          <!-- ジャンル〇 -->
        <tr>
          <th>ジャンル</th>
            <td>
              <%= illustration.collection_select :genre_id, Genre.all, :id, :name %>
            </td>
        </tr>
          <!-- 新規登録〇 -->
        <tr>
          <td>
            <%= illustration.submit '新規登録', class:"btn btn-success" %>
          </td>
        </tr>
                  
      </table>
    <% end %>
          
    </div>
  </div>
  
  