<!-- Enjoy_view_admin_genre_index -->
  
    
  <div class="row justify-content-center" style="padding: 10px 0;">
      <!-- エラーメッセージ(メンター記述) -->
    <% flash.each do |key, message| %>
      <div class "<%= key %>">
        <%= message %>
      </div>
    <% end %>
  </div>
  
  <div class="row">
    
      <!-- 色指定のスタイル -->
    <style>
     .example {
      background-color: #F0F0F0;
      width:300px;
      height:30px;
     }
    </style>
      
      <!-- 投稿画像一覧,アイコン -->
    <table width="950"  height="50">
      <tr>
          <!-- 管理者ジャンル投稿一覧 -->
        <th>
          <h4 class="example" align="center">管理者ジャンル投稿一覧</h4>
        </th>
          <!-- ジャンル名,新規登録 -->
        <td align="left">
          <%= form_with model: @genre, url: admin_genre_index_path, method: :post do |genre| %>
            ジャンル名
            <%= genre.text_field :name %>
            <%= genre.submit '新規登録', class:"btn btn-primary" %>
          <% end %>
        </td>
          <!-- サンプル新規登録画面へ,アイコン済 -->
        <td align="right">
          <%= link_to new_admin_sample_illustration_path, class: 'nav-link text-black' do %>
            <i class="fas fa-pen-nib" aria-hidden="true">サンプル投稿へ</i>
          <% end %>
        </td>
      </tr>
    </table>
      
    <div class="mx-auto auto col-8">
        
          <!-- ナンバー,名前,削除△ -->
      <table border="1" width="600">
              <!-- ナンバー,名前,削除△ -->
        <thead class="example">
          <th align=”center”>
            <th>ジャンル名</th>
            <th>編集</th>
          </th>
        </thead>
              <!-- 各ジャンル表示 -->
        <% @genre.each do |genre| %>
              <!-- ナンバー,名前,削除△ -->
          <tbody>
            <tr>
                <!-- ジャンルナンバー -->
              <td align="center">
                <%= genre.id %>
              </td>
                <!-- ジャンル名 -->
              <td align="center">
                <%= genre.name %>
              </td>
                <!-- ジャンル編集ボタン△ -->
              <td align="center">
                 <%= form_with model: genre, url: admin_genre_path(genre), method: :patch do |genre| %>
                   <%= genre.text_field :name %>
                   <%= genre.submit '変更を保存', class:"btn btn-success" %>
                 <% end %>
              </td>
            </tr>
          </tbody>
            
        <% end %>
        
      </table>
          
    </div>
  </div>
  
  