<!-- Enjoy_views_layouts_application -->

<!DOCTYPE html>
<html>
  <head>
    <title>EnjoyPainting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <!-- FontAwesomeの記述 -->
    <script src="https://kit.fontawesome.com/5e22f18747.js" crossorigin="anonymous"></script>
      <!-- 変更済み -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <p id="notice"></p>
      
      <!--<nav class="navbar navbar-expand-lg bg-body-tertiary">-->
        
      <!--  <div class="container-fluid">-->
      <!--    <a class="navbar-brand" href="#">Navbar</a>-->
          
      <!--      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
      <!--        <span class="navbar-toggler-icon"></span>-->
      <!--      </button>-->
            
      <!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
                
      <!--          <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
                  
      <!--            <li class="nav-item">-->
      <!--              <a class="nav-link active" aria-current="page" href="#">Home</a>-->
      <!--            </li>-->
                  
      <!--            <li class="nav-item">-->
      <!--              <a class="nav-link" href="#">Link</a>-->
      <!--            </li>-->
                    <!-- ドロップダウン -->
      <!--            <li class="nav-item dropdown">-->
      <!--              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
      <!--                Dropdown-->
      <!--              </a>-->
      <!--              <ul class="dropdown-menu">-->
      <!--                <li><a class="dropdown-item" href="#">Action</a></li>-->
      <!--                <li><a class="dropdown-item" href="#">Another action</a></li>-->
      <!--                <li><hr class="dropdown-divider"></li>-->
      <!--                <li><a class="dropdown-item" href="#">Something else here</a></li>-->
      <!--              </ul>-->
      <!--            </li>-->
                  
      <!--            <li class="nav-item">-->
      <!--              <a class="nav-link disabled">Disabled</a>-->
      <!--            </li>-->
                  
      <!--          </ul>-->
                  <!-- 検索窓 -->
      <!--          <form class="d-flex" role="search">-->
      <!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
      <!--          </form>-->
                
      <!--        </div>-->
      <!--  </div>-->
      <!--</nav>-->
      
        <!-- ヘッダーデザインまとめ -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="container">
            <!-- ロゴアドレス -->
          <a class="navbar-brand" href="/">EnjoyPainting</a>
          
          <ul class="navbar-nav ml-auto">
              <!-- admin,customer/ログイン,ログアウト -->
            <div class="row">
                  <!-- customer_ログイン -->
              <% if customer_signed_in? %>
                <ul class="navbar-nav ml-auto">
                    <!-- マイページ_pablic -->
                  <li class="nav-item">
                    <%= link_to "マイページ", customers_my_page_path, class: "nav-link text-light" %>
                  </li>
                    <!-- 投稿一覧_pablic -->
                  <li class="nav-item">
                    <%= link_to "投稿一覧", illustrations_path, class: "nav-link text-light" %>
                  </li>
                    <!-- ブックマーク_pablic -->
                  <li class="nav-item">
                    <%= link_to "ブックマーク", liked_illustrations_path, class: "nav-link text-light" %>
                  </li>
                    <!-- ログアウトボタン_pablic -->
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "nav-link text-light" %>
                  </li>
                </ul>
                  <!-- admin_ログイン -->
              <% elsif admin_signed_in? %>
                <ul class="navbar-nav ml-auto">
                    <!-- 管理者投稿一覧_admin〇 -->
                  <li class="nav-item">
                    <%= link_to "管理者投稿一覧", admin_sample_illustration_index_path, class: "nav-link text-light" %>
                  </li>
                    <!-- 会員一覧_admin〇 -->
                  <li class="nav-item">
                    <%= link_to "会員一覧", admin_customers_path, class: "nav-link text-light" %>
                  </li>
                    <!-- ログアウトボタン_admin〇 -->
                  <li class="nav-item">
                    <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link text-light" %>
                  </li>
                </ul>
                  <!-- ログアウト_customer -->
              <% else %>
                <ul class="navbar-nav ml-auto">
                    <!-- About_pablic〇 -->
                  <li class="nav-item">
                    <%= link_to "About", about_path, class: "nav-link text-light" %>
                  </li>
                    <!-- ゲストログイン_pablic△ -->
                  <li class="nav-item">
                    <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "nav-link text-light", method: :post %>
                  </li>
                    <!-- 新規登録_pablic△ -->
                  <li class="nav-item">
                    <%= link_to "新規登録", new_customer_registration_path, class: "nav-link text-light" %>
                  </li>
                    <!-- ログインボタン_admin〇 -->
                  <li class="nav-item">
                    <%= link_to "ログイン", new_customer_session_path, class: "nav-link text-light" %>
                  </li>
                </ul>
              <% end %>
              
            </div>
          </ul>
          
        </div>
      </nav>
      
    </header>
    
      <!-- main上部にmarginを適応 -->
    <main style="margin-top: 50px;">
      <div class="container">
          <!-- bodyがここに入る -->
        <%= yield %>
        
      </div>
    </main>
    
  </body>
  
  <footer>
    
  </footer>
  
</html>

